<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353074693284-h6sh5gd5t7gecs06g32vk4b3dlndkloj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353074693284-h6sh5gd5t7gecs06g32vk4b3dlndkloj</string>
	<key>API_KEY</key>
	<string>AIzaSyDqZ8KcB-bH_vt29JHekNawazLDrTT5LYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>353074693284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelBookingApp</string>
	<key>PROJECT_ID</key>
	<string>hotel-booking-346c9</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-booking-346c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353074693284:ios:df2191e5eb170762ed9231</string>
</dict>
</plist>